/* Couleurs principales */
:root {
    --bg-color: #EFE1D1;
    --text-color: #111e16;
    --accent-color: #A57B5B;
}

/* Style global */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: var(--bg-color);
}

.navbar .btn {
    color: var(--text-color);
    border-color: var(--accent-color);
    margin-left: 1rem;
    border-width: 0.1rem;
}

.navbar .btn-outline-dark:hover {
    background-color: var(--accent-color);
    color: white;
    border-color: var(--accent-color);
    
}
  
.nav-link {
    color: var(--text-color);
    position: relative;
    transition: color 0.3s;
}
  
.nav-link:hover {
    color: var(--accent-color);
}
  
.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.3s;
}
  
.nav-link:hover::after {
    width: 100%;
}
  
.btn-outline-light {
    color: var(--text-color);
    border-color: var(--text-color);
    margin-left: 0.5rem;
    border-width: 0.1rem;
}
  
.btn-outline-light:hover {
    background-color: var(--accent-color);
    color: white;
    border-color: var(--accent-color);
}

/* Section Boutique */
.shop-section {
    background-color: var(--bg-color);
    padding: 3rem 0;
}
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.card-title {
    color: var(--accent-color);
    font-size: 1.5rem;
}
.card-text {
    color: var(--text-color);
    margin-bottom: 1rem;
}
ul {
    color: var(--text-color);
    font-size: 0.9rem;
}
.btn-outline-dark {
    color: var(--text-color);
    border-color: var(--accent-color);
    border-width: 0.1rem;
}
.btn-outline-dark:hover {
    background-color: var(--accent-color);
    color: white;
    border-color: var(--accent-color);
}


.modal-content {
    border: 2px solid var(--accent-color);
    border-radius: 10px;
}
.modal-header {
    background-color: var(--accent-color);
    color: white;
}
.modal-footer .btn {
    color: var(--text-color);
    border-color: var(--accent-color);
}
.modal-footer .btn:hover {
    background-color: var(--accent-color);
    color: white;
}



/* Footer */
.footer {
    background-color: var(--text-color);
    color: white;
    padding: 1.5rem 0;
}


.mt-2 {
    margin-top: 0 !important;
}